/* 

            Global Setup

*/

:root {
    --primary-color: #3A3A3A;
    --secondary-color-collection: #787885;
    --secondary-color-join: #6C6C6C;
    --secondary-color-footer: #D9DBE1;
    --button-color: #E02C6D;
}


* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
button {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

body>* {
    margin: 0 auto;
}

button {
    border: none;
}

main,
header {
    border: 2px solid red;
    max-width: 82.5rem;
}

footer {
    border: 2px solid red;
}